<swiper-container
  space-between=20
  pagination="true"
  effect="fade"
  autoplay-delay="3000"
  autoplay-disable-on-interaction="false">
  <swiper-slide><img src="https://picsum.photos/400/500?grayscale" alt="slider"></swiper-slide>
  <swiper-slide><img src="https://picsum.photos/400/500" alt="slider"></swiper-slide>
  <swiper-slide><img src="https://picsum.photos/400/500?grayscale" alt="slider"></swiper-slide>
  <swiper-slide><img src="https://picsum.photos/400/500" alt="slider"></swiper-slide>
</swiper-container>
