<ion-app>

    <ion-tabs>
      <ion-tab-bar slot="bottom" >
        <ion-tab-button tab="profile" href="/profile">
          <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="planner" href="/planner">
          <ion-icon aria-hidden="true" name="today-outline"></ion-icon>
          <ion-label>Planner</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="gallery" href="/gallery">
          <ion-icon aria-hidden="true" name="folder-outline"></ion-icon>
          <ion-label>Gallery</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="home" href="/home">
          <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

  </ion-app>
  <router-outlet></router-outlet>
